header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: mistyrose;

  .wrap {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
    height: 160px;
    .logo {
      display: block;
      width: 100px;
      position: absolute;
      left: 10px;

      img {
        display: block;
        margin: 0;
        height: 128px;
        width: 155%;
      }
    }
  }
}
